.ColorPicker {
    display: block;
    margin: 40px;
    min-width: 600px;
    min-height: 150px;
    padding: 20px;
   
    border: 1px solid rgba(128, 128, 128, 0.5) ;
}


.ColorPicker__option {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 3%;
    border: none;
    transition:  border-radius linear 200ms;   
    
}

.ColorPicker__option__active {
    border-radius: 50%;
    
}

.ColorName {
    font-size: 20px;
    margin-right: 10px;
}


